:root {
	--rosa:#db3c80;
	--azul:#1a186e;
	--cinza:rgba(0, 0, 0, 0.1);
}
h1 {
	color: var(--rosa);
	font-family: 'Pattaya', sans-serif; 
}
h2,h3 {
	color: var(--rosa);
	font-family: 'Arial black', Times;
}
/* Logo */
header .container .logo img {
  width: 35%;
  height: 25%;
}
/*botão*/
header .btn a{
   color:var(--azul);
   font-size: 50px;
   text-decoration: none; 
   
}
header .btn {
    width: 300px;
    height: 100px;
	border-radius: 100px;
}
/* Barra de navegação */
header .nav-link h1 {
    font-size: 37px;
    margin-right: 7px;
}
header .nav-link h1:hover {
   color:var(--azul);
}
nav {
    background: var(--cinza);
}
/***********************/
/****Página inicial*****/
/**********************/
.col-lg-4 img {
    width: 400px;
    height: 250px;
}
.noticias {
    background: var(--cinza);
}
/***********************/
/****Acesso*************/
/**********************/
.fundo-cadastro {
	background-image:url("../img/background/login.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	width: 100%;
	height: 800px;
}
/*Postagens no site */
.postagemCa1 img {
	margin-left: 20px;
	width: 100px;
	height: 100px;
}
/* Login e senha */
.Acessodosite {
	margin-left: 20px;
}
/* Fim */
/***********************/
/****Contatos*****/
/**********************/
.fundo-contato {
	background-image: url("../img/background/contatos.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	width: 100%;
	height: 800px;
}
/* Postagens */
#postagemC1 {
	background-color: darkblue;
	width: 100%;
	display: table;
}
#postagemC1 h1{
	color: orangered;
	font-family: Samanata;
	text-align: center;
}
/* background do site */
#fundo {
	width: 100%;
	display: flex;
}
/* Fim  */

/***********************/
/****Eventos*****/
/**********************/
.fundo-eventos {
	background-image: url("https://images.pexels.com/photos/919734/pexels-photo-919734.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	width: 100%;
	height: 800px;
}
/*Postagens no site */
#postagemE1 {
	background-color: yellow;
	width: 100%;
	display: table;
}
#postagemE1 h1{
	color: darkblue;
	text-align: center;
}
/* Background do site */
#fundo {
	width: 100%;
	display: flex;
}
/*  Fim  */

/***********************/
/****Serviços*****/
/**********************/
.fundo-serviços{
	background-image: url("../img/background/serviços.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	width: 100%;
	height: 800px;
}
/* Postagens do site */
#postagemS1 {
	background-color: yellow;
	width: 100%;
	display: table;
}
#postagemS1 h1{
	color: orangered;
	font-family: Samanata;
	text-align: center;
}
/* Background do site */
#fundo {
	width: 100%;
	display: flex;
}
/*  Fim  */

/***********************/
/****Viagens*****/
/**********************/
.fundo-viagens{
	background-image: url("../img/background/viagens.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	width: 100%;
	height: 800px;
}
/* Postagens */
#postagemV1 {
	background-color: cadetblue;
	width: 100%;
	display: table;
}
#postagemV1 h1{
	color: orangered;
	font-family: Samanata;
	text-align: center;
}
/* background do site */
#fundo {
	width: 100%;
	display: flex;
}
/* Fim */